.ant-card.active-card.card.ant-card-bordered {
	border: 2px solid black !important;
}

.ant-card.card {
	width: 100%;
	margin-bottom: 1em;
}

.card :hover {
	cursor: pointer;
}

.download-icon {
	font-size: 32px;
}
