.logs-content {
	overflow-x: scroll;
	overflow-y: scroll;
	height: 80vh !important;
}

.col-cards {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80vh;
}

@media (max-width: 768px) {
	.logs-content-row {
		margin: 5px;
	}

	.logs-content {
		height: 45vh !important;
	}

	.col-cards {
		margin-top: 20px;
		height: 25vh;
	}

	.col-cards .ant-card-body {
		padding: 3px;
	}
}
